.row
  .large-8.columns
    %ul#gallery.small-block-grid-2.large-block-grid-4
      - @pictures.each do |key|
        %li{'sort_key' => "#{key.sort_key}"}
          %a.fancybox{:href => "#{key.image.thumb('800x800').url}", 'data-fancybox-group' => 'button', :title => "#{key.image_title}"}
            %img.lazy{'data-original' => "#{key.image.thumb('200x200#ne').url}", :src => "/image/grey.gif"}
          -if admin?
            %form(action="/d/#{key.id}" method="post")
              %input{:type => :hidden, :name => "_method", :value => "delete"}
              %a.tiny.button.info.radius{:href => "/e/#{key.id}"} Edit
              %input.tiny.button.alert.radius{:type => "submit", :value => "Delete"}
    
    - if @pictures.count > 12
      .row
        .large-6.columns
          .paging
        -#.large-6.columns
          %form.custom.right
            %label{:for => "customDropdown"} Bilder pro Seite
            %select#customDropdown.small
              %option 12
              %option 18
              %option alle

  = haml :sidebar

%script{:src => asset_javascript('jquery.fancybox.pack'), :type => "text/javascript"}
%script{:src => asset_javascript('jquery.lazyload.min'), :type => 'text/javascript'}
%script{:src => asset_javascript('jPages.min'), :type => 'text/javascript'}
-if admin?
  :javascript
    $(document).ready(function() {
      $( "#gallery" ).sortable({
        distance: 30,
        cursor: 'move',
        update: function(event, ui) {
          console.log('original:' + ui.item.attr('sort_key'));
          console.log('item before:' + ui.item.prev().attr('sort_key'));
          console.log('item after:' + ui.item.next().attr('sort_key'));
        }
      });
      $( "#gallery" ).disableSelection();
    });

:javascript
  $(document).ready(function() {

    //$("select#customDropdown").change(function(){
    //  /* get new nº of items per page */
    //  if ($.isNumeric(parseInt( $(this).val() ))) {
    //    /* destroy jPages and initiate plugin again */
    //    $(".paging").jPages("destroy").jPages({
    //      containerID: "gallery",
    //      perPage: $(this).val(),
    //      //animation: "flipInY",
    //      direction: "random",
    //      keyBrowse: true,
    //      previous : "←",
    //      next : "→",
    //      callback: function(pages, items ){
    //        /* lazy load current images */
    //        items.showing.find("img").trigger("turnPage");
    //        /* lazy load next page images */
    //        items.oncoming.find("img").trigger("turnPage");
    //      }
    //    });
    //  } else {
    //    $(".paging").jPages("destroy"); 
    //  }
    //});


    $("img").lazyload({
      event: "turnPage",
      effect: "fadeIn"
    });

    $(".paging").jPages({
      containerID: "gallery",
      animation: "flipInY",
      direction: "random",
      perPage: 12,
      keyBrowse: true,
      previous : "←",
      next : "→",
      callback: function(pages, items ){
        /* lazy load current images */
        items.showing.find("img").trigger("turnPage");
        /* lazy load next page images */
        items.oncoming.find("img").trigger("turnPage");
       }
    });

    $('a.fancybox').fancybox({
      openEffect: 'none',
      closeEffect: 'none',

      prevEffect: 'none',
      nextEffect: 'none',

      //autoPlay: true,
      loop: false,

      //closeBtn  : false,

      helpers: {
        title: {
          type: 'inside'
        }
      },
      beforeShow: function () {
        /* Disable right click */
        $.fancybox.wrap.bind("contextmenu", function (e) {
          return false; 
        });
      },

      afterLoad : function() {
        this.title = 'Bild ' + (this.index + 1) + ' von ' + this.group.length + (this.title ? ' - <strong>' + this.title : '</strong>');
      }
    });

  });
