.row
  .large-8.columns
    =# @pictures.count
    -#%ul{"data-options" => "timer_speed:2500;", "data-orbit" => ""}
      - @pictures.each do |key|
        %li
          %img{:src => "#{key.image.thumb('600x600').url}"}/
          .orbit-caption "Taken on #{key.image_date} with #{key.image_model} (#{key.id})"
  
    %ul.small-block-grid-2.large-block-grid-4
      - @pictures.each do |key|
        %li
          %a{:href => "#{key.image.thumb('800x800').url}"}
            %img{:src => "#{key.image.thumb('200x200#').url}", :alt => "#{key.image_name}"}
            -if admin?
              %form(action="/delete/#{key.id}" method="post")
                %input{:type => :hidden, :name => "_method", :value => "delete"}
                %a.tiny.button.info.radius{:href => "/i/#{key.id}"} Show
                %input.tiny.button.alert.radius{:type => "submit", :value => "Delete"}

  = haml :sidebar

-#%script{:src => '/javascripts/vendor/jquery.yoxview-2.21.min.js', :type => 'text/javascript'}
:javascript
