.row
  .large-8.columns
    %ul.small-block-grid-4.large-block-grid-6
      - @pictures.each do |key|
        %li
          %a{:href => "#{key.image.thumb('800x800').url}", :class => 'fancybox', 'data-fancybox-group' => 'button', :title => "#{key.image_title}"}
            %img{:src => "#{key.image.thumb('100x100#').url}"}
            -if admin?
              %form(action="/delete/#{key.id}" method="post")
                %input{:type => :hidden, :name => "_method", :value => "delete"}
                %a.tiny.button.info.radius{:href => "/i/#{key.id}"} Show
                %input.tiny.button.alert.radius{:type => "submit", :value => "Delete"}

  = haml :sidebar

%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.mousewheel.js"}
%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.fancybox.pack.js"}
:javascript
  $(document).ready(function() {

    $('.fancybox').fancybox({
      openEffect: 'none',
      closeEffect: 'none',

      prevEffect: 'none',
      nextEffect: 'none',

      //autoPlay: true,
      loop: false,

      //closeBtn  : false,

      helpers: {
        title: {
          type: 'inside'
        }
      },

      afterLoad : function() {
        this.title = 'Bild ' + (this.index + 1) + ' von ' + this.group.length + (this.title ? ' - ' + this.title : '');
      }
    });

  });
