.row
  .large-8.columns
    %ul#gallery.small-block-grid-4.large-block-grid-6
      - @pictures.each do |key|
        %li
          %a{:href => "#{key.image.thumb('800x800').url}", :class => 'fancybox', 'data-fancybox-group' => 'button', :title => "#{key.image_title}"}
            %img.lazy{'data-original' => "#{key.image.thumb('100x100#').url}", :src => "/image/grey.gif"}
          -if admin?
            %form(action="/delete/#{key.id}" method="post")
              %input{:type => :hidden, :name => "_method", :value => "delete"}
              -#%a.tiny.button.info.radius{:href => "/i/#{key.id}"} Show
              %input.tiny.button.alert.radius{:type => "submit", :value => "Delete"}
    .holder

  = haml :sidebar

%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.mousewheel.js"}
%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.fancybox.pack.js"}
%script{:src => "/javascripts/vendor/jquery.lazyload.min.js", :type => 'text/javascript'}
%script{:src => "/javascripts/vendor/jPages.min.js", :type => 'text/javascript'}
:javascript
  $(document).ready(function() {

    $("img").lazyload({
      event: "turnPage",
      effect: "fadeIn"
    });

    $(".holder").jPages({
      containerID: "gallery",
      animation: "flipInY",
      direction: "random",
      perPage: 18,
      keyBrowse: true,
      previous : "←",
      next : "→",
      callback: function(pages, items ){
        /* lazy load current images */
        items.showing.find("img").trigger("turnPage");
        /* lazy load next page images */
        items.oncoming.find("img").trigger("turnPage");
       }
    });

    $('.fancybox').fancybox({
      openEffect: 'none',
      closeEffect: 'none',

      prevEffect: 'none',
      nextEffect: 'none',

      //autoPlay: true,
      loop: false,

      //closeBtn  : false,

      helpers: {
        title: {
          type: 'inside'
        }
      },

      afterLoad : function() {
        this.title = 'Bild ' + (this.index + 1) + ' von ' + this.group.length + (this.title ? ' - ' + this.title : '');
      }
    });

  });
