.row
  .large-12.columns
    .row
      .large-8.columns
        -#%i#loading.icon-spinner.icon-spin.icon-2x
        %img{:src => "#{@image.thumb('600x600').url}"}/
        -# %img{:src => "#{@image.thumb("200x200").png.convert("-background #666666 +polaroid").url}"}/
        -# %img{:src => "#{@image.thumb('200x220#').url}"}/


      .large-4.columns
        =# @image.remote_url
        =# @image.url
        Picture ID:
        = @picture.id
        %br/
        Title
        = @picture.image_title
        - if admin?
          %form(action="/delete/#{@picture.id}" method="post")
            %input{:type => :hidden, :name => "_method", :value => "delete"}
            %input.small.button.alert.radius{:type => "submit", :value => "Delete"}
